#sc-title {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 800px;
}

#sc-subtitle {
  position: absolute;
  top: 120px;
  left: 50px;
  width: 700px;
}

#sc-image {
  position: absolute;
  top: 200px;
  left: 50px;
}

#sc-text1 {
  position: absolute;
  top: 450px;
  left: 50px;
  width: 600px;
}

#sc-text2 {
  position: absolute;
  top: 500px;
  left: 50px;
  width: 600px;
}

#sc-home {
  position: absolute;
  top: 580px;
  left: 50px;
}

/* HOT YOGA LINK */
#sc-hotyoga {
  position: absolute;
  top: 620px;
  left: 50px;
}}

#section1 {
    position: absolute;
    top: 240px;
    left: 50px;
    width: 300px;
}

#section2 {
    position: absolute;
    top: 240px;
    left: 430px;
    width: 300px;
}

#section3 {
    position: absolute;
    top: 430px;
    left: 50px;
    width: 300px;
}

#section4 {
    position: absolute;
    top: 430px;
    left: 430px;
    width: 300px;
}

#home-link {
    position: absolute;
    top: 620px;
    left: 50px;
}

a {
    color: #a33c2f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#hotyoga-link {
    position: absolute;
    top: 700px; /* adjust if needed */
    left: 50px;
}
